{% extends 'base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
    <h1>Image index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Q1</th>
                <th>Q2</th>
                <th>Q3</th>
                <th>Q4</th>
                <th>Q5</th>
                <th>Q6</th>
                <th>Q7</th>
                <th>Q8</th>
                <th>Q9</th>
                <th>Q10</th>
                <th>Q11</th>
                <th>Q12</th>
                <th>Flag</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>{{ image.q1 ? 'Yes' : 'No' }}</td>
                <td>{{ image.q2 ? 'Yes' : 'No' }}</td>
                <td>{{ image.q3 ? 'Yes' : 'No' }}</td>
                <td>{{ image.q4 ? 'Yes' : 'No' }}</td>
                <td>{{ image.q5 ? 'Yes' : 'No' }}</td>
                <td>{{ image.q6 ? 'Yes' : 'No' }}</td>
                <td>{{ image.q7 ? 'Yes' : 'No' }}</td>
                <td>{{ image.q8 ? 'Yes' : 'No' }}</td>
                <td>{{ image.q9 ? 'Yes' : 'No' }}</td>
                <td>{{ image.q10 ? 'Yes' : 'No' }}</td>
                <td>{{ image.q11 ? 'Yes' : 'No' }}</td>
                <td>{{ image.q12 ? 'Yes' : 'No' }}</td>
                <td>{{ image.flag }}</td>
                <td>
                    <a href="{{ path('app_image_show', {'id': image.id}) }}">show</a>
                    <a href="{{ path('app_image_edit', {'id': image.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_image_new') }}">Create new</a>
{% endblock %}
