{{ form_start(form) }}
<p class="text-justify"><strong>Action et activités</strong></p>
<p class="text-justify">
    Les actions et les activités avec les autres membres du club sont les principales motivations des adhésions au Rotary. Les
    clubs dynamiques varient leurs activités et proposent diverses façons de s’impliquer. Testez un nouveau type d’activité ou
    d’action caritative et observez son impact sur le club.

</p>
<hr>
<p class="text-center text-danger" style="font-size: 0.9rem; font-weight:bold; font-style:italic;">
    (Cochez la case lorsque vous considérez que la déclaration qui la suis est exacte.)
</p>
<div class="row px-3 mt-1 mb-4">
    <div class="custom-control custom-checkbox">
        {{ form_widget(form.q1) }}
        {{ form_label(form.q1, 'activite.q1'|trans, {'label_attr':{'class':'custom-control-label'}}) }}
    </div>
</div>
<div class="row px-3 mt-1 mb-4">
    <div class="custom-control custom-checkbox">
        {{ form_widget(form.q2) }}
        {{ form_label(form.q2, 'activite.q2'|trans, {'label_attr':{'class':'custom-control-label'}}) }}
    </div>
</div>
<div class="row px-3 mt-1 mb-4">
    <div class="custom-control custom-checkbox">
        {{ form_widget(form.q3) }}
        {{ form_label(form.q3, 'activite.q3'|trans, {'label_attr':{'class':'custom-control-label'}}) }}
    </div>
</div>
<div class="row px-3 mt-1 mb-4">
    <div class="custom-control custom-checkbox">
        {{ form_widget(form.q4) }}
        {{ form_label(form.q4, 'activite.q4'|trans, {'label_attr':{'class':'custom-control-label'}}) }}
    </div>
</div>
<div class="row px-3 mt-1 mb-4">
    <div class="custom-control custom-checkbox">
        {{ form_widget(form.q5) }}
        {{ form_label(form.q5, 'activite.q5'|trans, {'label_attr':{'class':'custom-control-label'}}) }}
    </div>
</div>
<div class="row px-3 mt-1 mb-4">
    <div class="custom-control custom-checkbox">
        {{ form_widget(form.q6) }}
        {{ form_label(form.q6, 'activite.q6'|trans, {'label_attr':{'class':'custom-control-label'}}) }}
    </div>
</div>
<div class="row px-3 mt-1 mb-4">
    <div class="custom-control custom-checkbox">
        {{ form_widget(form.q7) }}
        {{ form_label(form.q7, 'activite.q7'|trans, {'label_attr':{'class':'custom-control-label'}}) }}
    </div>
</div>
<div class="row px-3 mt-1 mb-4">
    <div class="custom-control custom-checkbox">
        {{ form_widget(form.q8) }}
        {{ form_label(form.q8, 'activite.q8'|trans, {'label_attr':{'class':'custom-control-label'}}) }}
    </div>
</div>
<div class="row px-3 mt-1 mb-4">
    <div class="custom-control custom-checkbox">
        {{ form_widget(form.q9) }}
        {{ form_label(form.q9, 'activite.q9'|trans, {'label_attr':{'class':'custom-control-label'}}) }}
    </div>
</div>
<div class="row px-3 mt-1 mb-4">
    <div class="custom-control custom-checkbox">
        {{ form_widget(form.q10) }}
        {{ form_label(form.q10, 'activite.q10'|trans, {'label_attr':{'class':'custom-control-label'}}) }}
    </div>
</div>
<div class="row px-3 mt-1 mb-4">
    <div class="custom-control custom-checkbox">
        {{ form_widget(form.q11) }}
        {{ form_label(form.q11, 'activite.q11'|trans, {'label_attr':{'class':'custom-control-label'}}) }}
    </div>
</div>
<div class="d-none">
    {{ form_row(form.experience) }}
</div>
{{ form_widget(form) }}
<div class="text-right mb-5 mt-3">
    <a href="{{ path('app_experience_edit', {'id': experience}) }}" class="btn btn-secondary">Precedent</a>
    <button class="btn btn-success">{{ button_label|default('Suivant') }}</button>
</div>
{{ form_end(form) }}
