<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Bilan de santé du Rotary Club Abidjan Bietry{% endblock %}</title>
        <link rel="shortcut icon" href="{{ absolute_url(asset('build/ressources/images/favicon.ico')) }}">
        <meta name="keywords" content="rotary, bietry, abidjan"  />
        <meta name="description" content="Je participe au bilan de santé de mon club" />

        <link rel="canonical" href="{{ absolute_url(path('app_home')) }}" />
        <meta property="og:locale" content="fr_FR" />
        <meta property="og:type" content="Item" />
        <meta property="og:title" content="Bilan de santé du Rotary Club Abidjan Bietry" />
        <meta property="og:description" content="Je participe au bilan de santé de mon club" />
        <meta property="og:url" content="{{ absolute_url(path('app_home')) }}" />
        <meta property="og:site_name" content="ROTARY BIETRY" />
        <meta property="og:image" content="{{ absolute_url(asset('build/ressources/images/logo.jpg')) }}" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 offset-md-4 col-sm-12 text-center">
                        <img src="{{ absolute_url(asset('build/ressources/images/baner_web.png')) }}" alt="Logo Rotary Abidjan Bietry" class="img-fluid logo">
                    </div>
                </div>
            </div>
        </header>
        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        {% endblock %}
    </body>
</html>
