{% extends 'base.html.twig' %}

{% block title %}Experience index{% endblock %}

{% block body %}
    <h1>Experience index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Q1</th>
                <th>Q2</th>
                <th>Q3</th>
                <th>Q4</th>
                <th>Q5</th>
                <th>Q6</th>
                <th>Q7</th>
                <th>Q8</th>
                <th>Q9</th>
                <th>Q10</th>
                <th>Q11</th>
                <th>Q12</th>
                <th>Q13</th>
                <th>Flag</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for experience in experiences %}
            <tr>
                <td>{{ experience.id }}</td>
                <td>{{ experience.q1 ? 'Yes' : 'No' }}</td>
                <td>{{ experience.q2 ? 'Yes' : 'No' }}</td>
                <td>{{ experience.q3 ? 'Yes' : 'No' }}</td>
                <td>{{ experience.q4 ? 'Yes' : 'No' }}</td>
                <td>{{ experience.q5 ? 'Yes' : 'No' }}</td>
                <td>{{ experience.q6 ? 'Yes' : 'No' }}</td>
                <td>{{ experience.q7 ? 'Yes' : 'No' }}</td>
                <td>{{ experience.q8 ? 'Yes' : 'No' }}</td>
                <td>{{ experience.q9 ? 'Yes' : 'No' }}</td>
                <td>{{ experience.q10 ? 'Yes' : 'No' }}</td>
                <td>{{ experience.q11 ? 'Yes' : 'No' }}</td>
                <td>{{ experience.q12 ? 'Yes' : 'No' }}</td>
                <td>{{ experience.q13 ? 'Yes' : 'No' }}</td>
                <td>{{ experience.flag }}</td>
                <td>
                    <a href="{{ path('app_experience_show', {'id': experience.id}) }}">show</a>
                    <a href="{{ path('app_experience_edit', {'id': experience.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_experience_new') }}">Create new</a>
{% endblock %}
