{% extends 'base.html.twig' %}

{% block title %}{{ parent ()}} {% endblock %}

{% block body %}
    <div class="container-fluid px-1 px-md-4 py-5 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-11 col-lg-10 col-xl-9">
                <div class="card card0 border-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="card card00 m-2 border-0">
                                <div class="row text-center justify-content-center px-3">
                                    <h3 class="mt-4" style="text-decoration:underline;">RECAPITULATIF DES <strong style="color: darkblue">{{ experiences|length }}</strong> REPONSES</h3>
                                </div>
                                <div class="row">
                                    <div class="d-flex justify-content-center mt-20">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
                                            <div class="tab-vertical" style="width: 100%;">
                                                <ul class="nav nav-tabs col-lg-4 col-md-12 col-sm-12 col-12" id="myTab3" role="tablist">
                                                    <li class="nav-item"> <a class="nav-link active" id="experience" data-toggle="tab" href="#experience-vertical" role="tab" aria-controls="experience" aria-selected="true">Experiences au sein du club</a> </li>
                                                    <li class="nav-item"> <a class="nav-link" id="activite" data-toggle="tab" href="#activite-vertical" role="tab" aria-controls="activite" aria-selected="false">Actions et activités</a> </li>
                                                    <li class="nav-item"> <a class="nav-link" id="effectif" data-toggle="tab" href="#effectif-vertical" role="tab" aria-controls="effectif" aria-selected="false">Effectif</a> </li>
                                                    <li class="nav-item"> <a class="nav-link" id="image" data-toggle="tab" href="#image-vertical" role="tab" aria-controls="image" aria-selected="false">Image</a> </li>
                                                    <li class="nav-item"> <a class="nav-link" id="fonctionnement" data-toggle="tab" href="#fonctionnement-vertical" role="tab" aria-controls="fonctionnement" aria-selected="false">Gestion et fonctionnment</a> </li>
                                                </ul>
                                                <div class="tab-content col-lg-8 col-md-12 col-sm-12 col-12" id="myTabContent3">
                                                    <div class="tab-pane fade show active" id="experience-vertical" role="tabpanel" aria-labelledby="experience">

                                                        <h3 class="mb-5">Expérience au sein du club </h3>
                                                        <table class="table table-striped table-bordered mt-5" id="rotary" style="width: 100%;">
                                                            <thead>
                                                            <tr>
                                                                <td class="text-center">DESCRIPTION</td>
                                                                <td class="text-center">NOMBRE (/{{ experiences|length }})</td>
                                                                <td class="text-center">%</td>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% set experence_dividende = experiences|length ? experiences|length : 1 %}
                                                            {% set q1=0 %}{% set q2=0 %}{% set q3=0 %}{% set q4=0 %}{% set q5=0 %}{% set q6=0 %}{% set q7=0 %}
                                                            {% set q8=0 %}{% set q9=0 %}{% set q10=0 %}{% set q11=0 %}{% set q12=0 %}{% set q13=0 %}
                                                            {% set pourcentage = 100/experence_dividende %}
                                                            {% for experience in experiences %}
                                                                {% set q1 = q1 + experience.q1 %}{% set q2 = q2 + experience.q2 %}{% set q3 = q3 + experience.q3 %}
                                                                {% set q4 = q4 + experience.q4 %}{% set q5 = q5 + experience.q5 %}{% set q6 = q6 + experience.q6 %}
                                                                {% set q7 = q7 + experience.q7 %}{% set q8 = q8 + experience.q8 %}{% set q9 = q9 + experience.q9 %}
                                                                {% set q10 = q10 + experience.q10 %}{% set q11 = q11 + experience.q11 %}{% set q12 = q12 + experience.q12 %}
                                                                {% set q13 = q13 + experience.q13 %}
                                                            {% endfor %}
                                                            <tr><td>{{ 'experience.q1'|trans }}</td><td class="text-center">{{ q1 }}</td><td class="text-center">{{ q1* pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'experience.q2'|trans }}</td><td class="text-center">{{ q2 }}</td><td class="text-center">{{ q2 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'experience.q3'|trans }}</td><td class="text-center">{{ q3 }}</td><td class="text-center">{{ q3 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'experience.q4'|trans }}</td><td class="text-center">{{ q4 }}</td><td class="text-center">{{ q4 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'experience.q5'|trans }}</td><td class="text-center">{{ q5 }}</td><td class="text-center">{{ q5 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'experience.q6'|trans }}</td><td class="text-center">{{ q6 }}</td><td class="text-center">{{ q6 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'experience.q7'|trans }}</td><td class="text-center">{{ q7 }}</td><td class="text-center">{{ q7 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'experience.q8'|trans }}</td><td class="text-center">{{ q8 }}</td><td class="text-center">{{ q8 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'experience.q9'|trans }}</td><td class="text-center">{{ q9 }}</td><td class="text-center">{{ q9 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'experience.q10'|trans }}</td><td class="text-center">{{ q10 }}</td><td class="text-center">{{ q10 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'experience.q11'|trans }}</td><td class="text-center">{{ q11 }}</td><td class="text-center">{{ q11 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'experience.q12'|trans }}</td><td class="text-center">{{ q12 }}</td><td class="text-center">{{ q12 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'experience.q13'|trans }}</td><td class="text-center">{{ q13 }}</td><td class="text-center">{{ q13 * pourcentage|round(1) }} </td></tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="tab-pane fade" id="activite-vertical" role="tabpanel" aria-labelledby="activite">

                                                        <h3 class="mb-5">Activités </h3>
                                                        <table class="table table-striped table-bordered mt-5" id="rotary_activite" style="width: 100%;">
                                                            <thead>
                                                            <tr>
                                                                <td class="text-center">DESCRIPTION</td>
                                                                <td class="text-center">NOMBRE (/{{ activites|length }})</td>
                                                                <td class="text-center">%</td>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% set activite_dividende = activites|length ? activites|length : 1 %}
                                                            {% set q1=0 %}{% set q2=0 %}{% set q3=0 %}{% set q4=0 %}{% set q5=0 %}{% set q6=0 %}{% set q7=0 %}
                                                            {% set q8=0 %}{% set q9=0 %}{% set q10=0 %}{% set q11=0 %}{% set q12=0 %}{% set q13=0 %}
                                                            {% set pourcentage = 100/ activite_dividende %}
                                                            {% for activite in activites %}
                                                                {% set q1 = q1 + activite.q1 %}{% set q2 = q2 + activite.q2 %}{% set q3 = q3 + activite.q3 %}
                                                                {% set q4 = q4 + activite.q4 %}{% set q5 = q5 + activite.q5 %}{% set q6 = q6 + activite.q6 %}
                                                                {% set q7 = q7 + activite.q7 %}{% set q8 = q8 + activite.q8 %}{% set q9 = q9 + activite.q9 %}
                                                                {% set q10 = q10 + activite.q10 %}{% set q11 = q11 + activite.q11 %}

                                                            {% endfor %}
                                                            <tr><td>{{ 'activite.q1'|trans }}</td><td class="text-center">{{ q1 }}</td><td class="text-center">{{ q1* pourcentage|round(0) }} </td></tr>
                                                            <tr><td>{{ 'activite.q2'|trans }}</td><td class="text-center">{{ q2 }}</td><td class="text-center">{{ q2 * pourcentage|round(0) }} </td></tr>
                                                            <tr><td>{{ 'activite.q3'|trans }}</td><td class="text-center">{{ q3 }}</td><td class="text-center">{{ q3 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'activite.q4'|trans }}</td><td class="text-center">{{ q4 }}</td><td class="text-center">{{ q4 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'activite.q5'|trans }}</td><td class="text-center">{{ q5 }}</td><td class="text-center">{{ q5 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'activite.q6'|trans }}</td><td class="text-center">{{ q6 }}</td><td class="text-center">{{ q6 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'activite.q7'|trans }}</td><td class="text-center">{{ q7 }}</td><td class="text-center">{{ q7 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'activite.q8'|trans }}</td><td class="text-center">{{ q8 }}</td><td class="text-center">{{ q8 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'activite.q9'|trans }}</td><td class="text-center">{{ q9 }}</td><td class="text-center">{{ q9 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'activite.q10'|trans }}</td><td class="text-center">{{ q10 }}</td><td class="text-center">{{ q10 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'activite.q11'|trans }}</td><td class="text-center">{{ q11 }}</td><td class="text-center">{{ q11 * pourcentage|round(1) }} </td></tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="tab-pane fade" id="effectif-vertical" role="tabpanel" aria-labelledby="effectif">

                                                        <h3 class="mb-5">Effectif </h3>
                                                        <table class="table table-striped table-bordered mt-5" id="rotary_effectif" style="width: 100%;">
                                                            <thead>
                                                            <tr>
                                                                <td class="text-center">DESCRIPTION</td>
                                                                <td class="text-center">NOMBRE (/{{ effectifs|length }})</td>
                                                                <td class="text-center">%</td>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% set effectif_dividende = effectifs|length ? effectifs|length : '1' %}
                                                            {% set q1=0 %}{% set q2=0 %}{% set q3=0 %}{% set q4=0 %}{% set q5=0 %}{% set q6=0 %}{% set q7=0 %}
                                                            {% set q8=0 %}{% set q9=0 %}{% set q10=0 %}{% set q11=0 %}{% set q12=0 %}{% set q13=0 %}{% set q14=0 %}
                                                            {% set q15=0 %}{% set q16=0 %}
                                                            {% set pourcentage = 100/ effectif_dividende %}
                                                            {% for effectif in effectifs %}
                                                                {% set q1 = q1 + effectif.q1 %}{% set q2 = q2 + effectif.q2 %}{% set q3 = q3 + effectif.q3 %}
                                                                {% set q4 = q4 + effectif.q4 %}{% set q5 = q5 + effectif.q5 %}{% set q6 = q6 + effectif.q6 %}
                                                                {% set q7 = q7 + effectif.q7 %}{% set q8 = q8 + effectif.q8 %}{% set q9 = q9 + effectif.q9 %}
                                                                {% set q10 = q10 + effectif.q10 %}{% set q11 = q11 + effectif.q11 %}{% set q12 = q12 + effectif.q12 %}
                                                                {% set q13 = q13 + effectif.q13 %}{% set q14 = q14 + effectif.q14 %}{% set q15 = q15 + effectif.q15 %}
                                                                {% set q16 = q16 + effectif.q16 %}
                                                            {% endfor %}
                                                            <tr><td>{{ 'effectif.q1'|trans }}</td><td class="text-center">{{ q1 }}</td><td class="text-center">{{ q1* pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'effectif.q2'|trans }}</td><td class="text-center">{{ q2 }}</td><td class="text-center">{{ q2 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'effectif.q3'|trans }}</td><td class="text-center">{{ q3 }}</td><td class="text-center">{{ q3 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'effectif.q4'|trans }}</td><td class="text-center">{{ q4 }}</td><td class="text-center">{{ q4 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'effectif.q5'|trans }}</td><td class="text-center">{{ q5 }}</td><td class="text-center">{{ q5 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'effectif.q6'|trans }}</td><td class="text-center">{{ q6 }}</td><td class="text-center">{{ q6 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'effectif.q7'|trans }}</td><td class="text-center">{{ q7 }}</td><td class="text-center">{{ q7 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'effectif.q8'|trans }}</td><td class="text-center">{{ q8 }}</td><td class="text-center">{{ q8 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'effectif.q9'|trans }}</td><td class="text-center">{{ q9 }}</td><td class="text-center">{{ q9 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'effectif.q10'|trans }}</td><td class="text-center">{{ q10 }}</td><td class="text-center">{{ q10 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'effectif.q11'|trans }}</td><td class="text-center">{{ q11 }}</td><td class="text-center">{{ q11 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'effectif.q12'|trans }}</td><td class="text-center">{{ q12 }}</td><td class="text-center">{{ q12 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'effectif.q13'|trans }}</td><td class="text-center">{{ q13 }}</td><td class="text-center">{{ q13 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'effectif.q14'|trans }}</td><td class="text-center">{{ q14 }}</td><td class="text-center">{{ q14 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'effectif.q15'|trans }}</td><td class="text-center">{{ q15 }}</td><td class="text-center">{{ q15 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'effectif.q16'|trans }}</td><td class="text-center">{{ q16 }}</td><td class="text-center">{{ q16 * pourcentage|round(1) }} </td></tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="tab-pane fade" id="image-vertical" role="tabpanel" aria-labelledby="image">

                                                        <h3 class="mb-5">Image</h3>
                                                        <table class="table table-striped table-bordered mt-5" id="rotary_image" style="width: 100%;">
                                                            <thead>
                                                            <tr>
                                                                <td class="text-center">DESCRIPTION</td>
                                                                <td class="text-center">NOMBRE (/{{ images|length }})</td>
                                                                <td class="text-center">%</td>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% set image_dividende = images|length ? images|length : '1' %}
                                                            {% set q1=0 %}{% set q2=0 %}{% set q3=0 %}{% set q4=0 %}{% set q5=0 %}{% set q6=0 %}{% set q7=0 %}
                                                            {% set q8=0 %}{% set q9=0 %}{% set q10=0 %}{% set q11=0 %}{% set q12=0 %}{% set q13=0 %}
                                                            {% set pourcentage = 100/ image_dividende %}
                                                            {% for image in images %}
                                                                {% set q1 = q1 + image.q1 %}{% set q2 = q2 + image.q2 %}{% set q3 = q3 + image.q3 %}
                                                                {% set q4 = q4 + image.q4 %}{% set q5 = q5 + image.q5 %}{% set q6 = q6 + image.q6 %}
                                                                {% set q7 = q7 + image.q7 %}{% set q8 = q8 + image.q8 %}{% set q9 = q9 + image.q9 %}
                                                                {% set q10 = q10 + image.q10 %}{% set q11 = q11 + image.q11 %}{% set q12 = q12 + image.q12 %}

                                                            {% endfor %}
                                                            <tr><td>{{ 'image.q1'|trans }}</td><td class="text-center">{{ q1 }}</td><td class="text-center">{{ q1* pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'image.q2'|trans }}</td><td class="text-center">{{ q2 }}</td><td class="text-center">{{ q2 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'image.q3'|trans }}</td><td class="text-center">{{ q3 }}</td><td class="text-center">{{ q3 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'image.q4'|trans }}</td><td class="text-center">{{ q4 }}</td><td class="text-center">{{ q4 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'image.q5'|trans }}</td><td class="text-center">{{ q5 }}</td><td class="text-center">{{ q5 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'image.q6'|trans }}</td><td class="text-center">{{ q6 }}</td><td class="text-center">{{ q6 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'image.q7'|trans }}</td><td class="text-center">{{ q7 }}</td><td class="text-center">{{ q7 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'image.q8'|trans }}</td><td class="text-center">{{ q8 }}</td><td class="text-center">{{ q8 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'image.q9'|trans }}</td><td class="text-center">{{ q9 }}</td><td class="text-center">{{ q9 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'image.q10'|trans }}</td><td class="text-center">{{ q10 }}</td><td class="text-center">{{ q10 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'image.q11'|trans }}</td><td class="text-center">{{ q11 }}</td><td class="text-center">{{ q11 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'image.q12'|trans }}</td><td class="text-center">{{ q12 }}</td><td class="text-center">{{ q12 * pourcentage|round(1) }} </td></tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="tab-pane fade" id="fonctionnement-vertical" role="tabpanel" aria-labelledby="fonctionnement">

                                                        <h3 class="mb-5">Gestion et fonctionnement </h3>

                                                        <table class="table table-striped table-bordered mt-5" id="rotary_fonctionnement" style="width: 100%;">
                                                            <thead>
                                                            <tr>
                                                                <td class="text-center">DESCRIPTION</td>
                                                                <td class="text-center">NOMBRE (/{{ fonctionnements|length }})</td>
                                                                <td class="text-center">%</td>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% set fonctionnement_dividende = fonctionnements|length ? fonctionnements|length : '1' %}
                                                            {% set q1=0 %}{% set q2=0 %}{% set q3=0 %}{% set q4=0 %}{% set q5=0 %}{% set q6=0 %}{% set q7=0 %}
                                                            {% set q8=0 %}{% set q9=0 %}{% set q10=0 %}{% set q11=0 %}{% set q12=0 %}{% set q13=0 %}{% set q14=0 %}
                                                            {% set pourcentage = 100/ fonctionnement_dividende %}
                                                            {% for fonctionnement in fonctionnements %}
                                                                {% set q1 = q1 + fonctionnement.q1 %}{% set q2 = q2 + fonctionnement.q2 %}{% set q3 = q3 + fonctionnement.q3 %}
                                                                {% set q4 = q4 + fonctionnement.q4 %}{% set q5 = q5 + fonctionnement.q5 %}{% set q6 = q6 + fonctionnement.q6 %}
                                                                {% set q7 = q7 + fonctionnement.q7 %}{% set q8 = q8 + fonctionnement.q8 %}{% set q9 = q9 + fonctionnement.q9 %}
                                                                {% set q10 = q10 + fonctionnement.q10 %}{% set q11 = q11 + fonctionnement.q11 %}{% set q12 = q12 + fonctionnement.q12 %}
                                                                {% set q13 = q13 + fonctionnement.q13 %}{% set q14 = q14 + fonctionnement.q14 %}
                                                            {% endfor %}
                                                            <tr><td>{{ 'fonctionnement.q1'|trans }}</td><td class="text-center">{{ q1 }}</td><td class="text-center">{{ q1* pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'fonctionnement.q2'|trans }}</td><td class="text-center">{{ q2 }}</td><td class="text-center">{{ q2 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'fonctionnement.q3'|trans }}</td><td class="text-center">{{ q3 }}</td><td class="text-center">{{ q3 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'fonctionnement.q4'|trans }}</td><td class="text-center">{{ q4 }}</td><td class="text-center">{{ q4 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'fonctionnement.q5'|trans }}</td><td class="text-center">{{ q5 }}</td><td class="text-center">{{ q5 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'fonctionnement.q6'|trans }}</td><td class="text-center">{{ q6 }}</td><td class="text-center">{{ q6 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'fonctionnement.q7'|trans }}</td><td class="text-center">{{ q7 }}</td><td class="text-center">{{ q7 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'fonctionnement.q8'|trans }}</td><td class="text-center">{{ q8 }}</td><td class="text-center">{{ q8 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'fonctionnement.q9'|trans }}</td><td class="text-center">{{ q9 }}</td><td class="text-center">{{ q9 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'fonctionnement.q10'|trans }}</td><td class="text-center">{{ q10 }}</td><td class="text-center">{{ q10 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'fonctionnement.q11'|trans }}</td><td class="text-center">{{ q11 }}</td><td class="text-center">{{ q11 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'fonctionnement.q12'|trans }}</td><td class="text-center">{{ q12 }}</td><td class="text-center">{{ q12 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'fonctionnement.q13'|trans }}</td><td class="text-center">{{ q13 }}</td><td class="text-center">{{ q13 * pourcentage|round(1) }} </td></tr>
                                                            <tr><td>{{ 'fonctionnement.q14'|trans }}</td><td class="text-center">{{ q14 }}</td><td class="text-center">{{ q15 * pourcentage|round(1) }} </td></tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block meta %}
    <link rel="canonical" href="{{ absolute_url(path('app_dashboard')) }}" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="Item" />
    <meta property="og:title" content="Backoffice" />
    <meta property="og:description" content="Tableau de board" />
    <meta property="og:url" content="{{ absolute_url(path('app_dashboard')) }}" />
    <meta property="og:site_name" content="ROTARY BIETRY" />
    <meta property="og:image" content="{{ absolute_url(asset('build/ressources/images/logo-opportunite2-01.png')) }}" />
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.bootstrap4.min.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.colVis.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#rotary').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            } );
            $('#rotary_activite').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            } );
            $('#rotary_effectif').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            } );
            $('#rotary_image').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            } );
            $('#rotary_fonctionnement').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            } );
        } );
    </script>
{% endblock %}
